{% extends 'base.html' %}
{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-10 rounded-2xl shadow-2xl w-full max-w-md">
        <h2 class="text-3xl font-bold text-center mb-8">Kirish</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full bg-indigo-600 text-white py-3 rounded-lg hover:bg-indigo-700 text-xl">
                Kirish
            </button>
        </form>
        <p class="text-center mt-6">Hisobingiz yo'qmi? <a href="/register/" class="text-indigo-600 font-bold">Ro'yxatdan o'ting</a></p>
    </div>
</div>
{% endblock %}